[submodule "projects/spf13-vim"]
	path = projects/spf13-vim
	url = git@github.com:adgaudio/spf13-vim.git
[submodule "projects/markov"]
	path = projects/markov
	url = git@github.com:adgaudio/Markov.git
[submodule "projects/fixturefactory"]
	path = projects/fixturefactory
	url = git@github.com:adgaudio/fixturefactory.git
[submodule "projects/dot_files"]
	path = projects/dot_files
	url = git@github.com:adgaudio/dot_files.git
